.dashboard-container {
    flex-direction: column;
}

.user-wrapper {
    width: 100%;
    display: flex;
    position: relative;
}

.user-options {
    position: absolute;
    top: 0;
    right: 1rem;
    text-align: end;
}

.my-progress-bar {
    margin-top: 1rem; 
    max-width: 1000px;
    background-color: white;
}