@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=PT+Sans+Caption&display=swap');

:root{
    --text-primary:#000;
    --bgPrimary:#fff;
    --bgSecondary: #F9F9F9;
    --navBg: rgb(0, 133, 167);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 2; 
    position: relative;
    overflow-y: auto;
    
    display: flex;
    justify-content: space-between;
}

.sider-menu-title {
    font-family: 'Baloo 2', cursive;
    font-family: 'PT Sans Caption', sans-serif;
    margin: 2rem 1rem 2rem 1rem;
    font-size: 1.3rem;
}

.guitar-logo img{
    max-width: 200px;
    margin:0 0 0 15px;
}

.mobile-title-container {
    position: absolute;
    top: 0rem;
    left: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.25rem;
    width: 178px;
    text-align: left;
}

.theme-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.header-btn-container {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 1rem;
    align-items: right;
    margin-right: 0;
}
.mobile-menu-btn {
    position: absolute;
    top: 0rem;
    right: 1rem;
}

.mobile-metro-stop-btn {
    position: absolute;
    top: 0rem;
    right: 5rem;
} 

/* Global */
.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 2rem 0rem 4rem;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-margin {
    margin: 0 2rem;
}